.store-title {
  text-align: center;
  margin-bottom: 20px;
  font-size: 22px;
  font-weight: bold;
}

.product-card {
  border-radius: 16px;
  overflow: hidden;

  img {
    width: 100%;
    height: 250px;
    object-fit: cover;
  }

  ion-card-title {
    font-size: 18px;
    font-weight: 600;
  }

  ion-card-subtitle {
    color: #c29b00;
    font-size: 16px;
    font-weight: bold;
  }

  p {
    font-size: 14px;
    color: #555;
    margin-bottom: 12px;
  }
}

ion-button {
  border-radius: 12px;
}
